.userform{
    margin: 30px !important;
    .flex{
        display: flex;
        flex-direction: row;
        gap: 2%;
    }
    .userform-card{
        background-color: #1f2937 !important;
    }

}

.heading {
    font-size: 1.875rem;
    font-weight: bold;
    background: linear-gradient(to right, #60a5fa, #2dd4bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#button {
    width: 100%;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    font-weight: bold;
    font-size: 1.125rem;
    color: white;
    background: linear-gradient(to right, #3b82f6, #9333ea);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    transform: scale(1);
}

#button:hover {
    background: linear-gradient(to right, #2563eb, #7e22ce);
    transform: scale(1.05);
}

@media (min-width: 640px) {
    #button {
        width: auto;
    }
}
.headCon{
    display: flex;
    justify-content: center !important;
}

.w-30 {
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-45 {
    width: 45%;
}
.w-46 {
    width: 46%;
}
.w-94 {
    width: 94%
}
.w-100{
    width:100%
}

