.userform{
    margin: 30px !important;
    .flex{
        display: flex;
        flex-direction: row;
        gap: 2%;
    }
    .userform-card{
        background-color: #1f2937 !important;
    }

}

.w-30 {
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-45 {
    width: 45%;
}
.w-46 {
    width: 46%;
}
.w-94 {
    width: 94%
}
.w-100{
    width:100%
}

